body {
  margin: unset;
  overflow: hidden;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

video {
  width: 100vw;
  height: calc(100vh - 10em);
}

.controller {
  height: 10em;
}

button {
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin: 0 1em;

  text-align: center;
  color:#000000;
  font-family: Verdana;
  font-size: 1em;
  text-decoration: none;
}

.round-button {
  width: 100vw;
  height: 8.5em;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.round-button-circle {
  width: 8em;
  height:0;
  padding-bottom: 8em;
  border-radius: 50%;
  border:0.2em solid #cfdcec;
  overflow:hidden;
        
  background: #4679BD; 
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
        
  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}
