body {
  margin: unset;
  overflow: hidden;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

video {
  width: 100vw;
  height: calc(100vh - 10em);
}

.controller {
  height: 10em;
}

button {
  text-align: center;
  color:#000000;
  font-family: Verdana;
  font-size: 1em;
  text-decoration: none;
  padding: 0.25em 0.5em 0.25em 0.5em;
}

.round-button {
  width: 100vw;
  height: 8.5em;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.round-button-circle {
  width: 8em;
  height:0;
  padding-bottom: 8em;
  border-radius: 50%;
  border:0.2em solid #cfdcec;
  overflow:hidden;
        
  background: #4679BD; 
  box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
  background:#30588e;
}
.round-button a {
  display:block;
  float:left;
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  line-height:1em;
  margin-top:-0.5em;
        
  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;

  cursor: pointer; /* Pointer/hand icon */
}

#previous-sentence {
  width: 100%;
  margin-top: 0.5em;
}

#next-sentence {
  width: 100%;
  margin-top: 0.5em;
}

.btn-group {
  margin: 0.1em 0.5em;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.flex-column-left {
  display: flex;
  flex-direction: column;
  margin-right: 0.5em
}

.flex-column-right {
  display: flex;
  flex-direction: column;
  margin-left: 0.5em
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 64px;
  background-color: rgba(200, 100, 100, 0.5);
  cursor: pointer; /* Pointer/hand icon */
  /*border-radius: 50%;*/
  border: 1px solid red;
  resize: both;
  transition: width 0.3s ease-in;
}

.normal-width {
  width: 64px;
}

.full-width {
  width: 100%;
}
